body{
    width:100vw;
    height:100vh;
    background: linear-gradient(to bottom, #fb0505, #f10616, #e70b20, #dc1228, #d1182e, #c71830, #bd1831, #b31932, #a71430, #9c102d, #900b2b, #850728);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
a{
    border-radius: 20px 0px 0px 20px;
    height: 10vh;
    background-color: white;
    transform:rotate(0deg);
    text-decoration: none;
    color: black;
    font-size: Calc(1em + 0.2vw);
    position:fixed;
    right: 4vw;
    bottom:40vh;
    display:flex;
    flex-direction: column;
    justify-content:center;
    z-index:4;
}

#card-Intro{
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

p {
    color: white;
    font-size: clamp(1em, 1em + 5vw, 1.5em);
    margin-left: 20vw;
    margin-right: 20vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
img{
    border-radius: 180px 180px 180px 180px;
    margin-left: 20vw;
    margin-right: 20vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.9);
}



